.background {
    background-color: grey;
    width: auto;
    height: 850px;
    border-radius: 10px;
    padding-top: 10px;
}

.calculator {
    background-color: green;
    width: 700px;
    height: 700px;
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.display-screen {
    background-color: white;
    width: 660px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 50px;
}
.button-pad {
    background-color: yellow;
    width: 100px;
}
.first-row {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: space-between;
    padding-top: 30px;
    margin-top: 40px;
}

.second-row {
    display: flex;
    justify-content: center;
    margin-top: 40px;
} 

.third-row {
    display: flex;
    justify-content: center;
    margin-top: 40px;
} 

.fourth-row {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.fifth-row {
    /* display: flex; */
    /* justify-content: center; */
    margin-top: 50px;
}

.zero {
    /* flex-grow: 1; */
    margin-right: 20px;
    
}

input[type=button] {
    width: 150px;
    margin-left: 15px;     
    min-height: 50px;
}
