*{
    margin: 0px;
    padding: 0px;
}
.background {
    background-color: grey;
    width: 100%;
    /* height: 850px; */
    border-radius: 10px;
    padding-top: 10px;
}
/* @media (min-width: 1024px) {
    .background {
        display: block;
    }
    .calculator {
        width: auto;
        position: relative;
    }
} */
@media (min-width: 300px) {
        .background {
         font-size: 80%; 
         background-color: yellow;
        }
        .calculator {
            width: 30%;
        }
    
     }
.calculator {
    background-color: black;
    width: 80%;
    height: 700px;
    /* margin-left: 300px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.display-screen {
    background-color: white;
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 50px;
}

/* .button-pad {
    background-color: yellow;
    width: 100px;
} */

button {
    width: 100px;
    font-size: 30px;
    margin-left: 60px;
    display: flex; 
    justify-content: space-around; 
    color: white; 
    background-color: black;
}
.button {
    color: bisque;
}
.first-row {
    display: flex;
    padding-top: 30px; 
    margin-top: 40px; 
} 

.second-row {
    display: flex;
    margin-top: 50px;
} 

.third-row {
    display: flex;
    margin-top: 50px;
} 

.fourth-row {
    display: flex;
    margin-top: 50px;
}

.fifth-row {
    display: flex; 
    margin-top: 50px;
    justify-content: space-between;
}

.zero-btn {
    width: 50px;
}

.equality-btn {
    margin-right: 60px;
}